/* General styling */
body {
    background-color: rgb(168, 223, 224);
}

p {
    font-size: 1.2rem;
}

#header, #playersDice, #footer {
    margin: 2rem;
    text-align: center;
}

#header .container h1 {
    font-size: 95px;
    font-weight: bold;
}

#playersDice .row h3 {
    font-size: 50px;
    padding: 1.2rem;
}

#footer {
    padding-top: 2rem;
}


/* Figure style */

.dice-figure-1, .dice-figure-2 {
    width: 30%;
}